<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8"/>
<title>Cadastro de título</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="AlgaWorks" src="/images/logo-algaworks.png" />
                </a>
            </div>
        </div>
    </nav>
    
    <form class="form-horizontal" method="POST" action="/titulos">
    	<div class="panel panel-default">
    		<div class="panel-heading">
    			<h1 class="panel-title">Novo título</h1>
    		</div>
    		
    		<div class="panel-body">
				<div class="form-group">
					<label for="descricao" class="col-sm-2 control-label">Descrição</label>
					<div class="col-sm-4"> 
						<input type="text" class="form-control" id="descricao" name="descricao"/>
					</div>
				</div>
				<div class="form-group">
					<label for="dataVencimento" class="col-sm-2 control-label">Data de vencimento</label>
					<div class="col-sm-2">  
						<input type="text" class="form-control"	id="dataVencimento" name="dataVencimento"/>
					</div>
				</div>
				<div class="form-group">
					<label for="valor" class="col-sm-2 control-label">Valor</label>
					<div class="col-sm-2">   
						<input type="text" class="form-control" id="valor" name="valor"/>
					</div>
				</div>
				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">Status</label>
					<div class="col-sm-2">
						<select class="form-control" name="status">
							<option value="PENDENTE">Pendente</option>
							<option value="RECEBIDO">Recebido</option>
                    	</select>
                    </div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
    	</div>
    </form>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>